 body {
   background-color: #3a3a3a;
 }

 .box {
  margin: 3em auto;
  width: 700px;
  height: 500px;
  border-radius: 8px;
  background: url(Diagonal_Line_gray.jpg);
  /* box-shadow: 0 0 10px 0 rgba(0, 20, 127, .8) inset; */
  box-shadow: 2px 2px 15px 5px blue, -2px -2px 15px 5px red, 0 20px 25px -8px #000;
 }